<mat-toolbar color="secondary" class="sub-bar mat-elevation-z2">
  <h2>
    Grocery List
  </h2>
</mat-toolbar>

<br/>


<mat-card class="content" style="max-width: 600px;" *ngIf="items.complete.length==0 && items.incomplete.length==0">
  <mat-card-title>Shopping list is empty.</mat-card-title>
  <mat-card-content>
    Items can be added from a recipe or from the planner.
  </mat-card-content>
</mat-card>

<mat-card class="content" style="max-width: 600px;" *ngIf="items.incomplete.length > 0">
  <mat-card-title>Incomplete Items</mat-card-title>
  <mat-list>
    <mat-list-item *ngFor="let item of items.incomplete">
      <span matLine (click)="onToggle(item)" class="grocery-item">
        {{ item.quantity.amount }}
        {{ item.quantity.unit }}
        {{ item.name }}
      </span>
      <button mat-icon-button (click)="removeItem(item)">
        <i class="material-icons">delete</i>
      </button>
    </mat-list-item>
  </mat-list>
</mat-card>

<div *ngIf="items.incomplete.length > 0 && items.complete.length > 0">
  <br/>
</div>

<mat-card class="content" style="max-width: 600px;" *ngIf="items.complete.length > 0">
  <mat-card-title>Completed Items</mat-card-title>
  <mat-list>
    <mat-list-item *ngFor="let item of items.complete">
      <span matLine (click)="onToggle(item)" class="grocery-item completed-item">
        {{ item.quantity.amount }}
        {{ item.quantity.unit }}
        {{ item.name }}
      </span>
      <button mat-icon-button (click)="removeItem(item)">
        <i class="material-icons">delete</i>
      </button>
    </mat-list-item>
  </mat-list>
</mat-card>