<mat-toolbar color="secondary" class="sub-bar mat-elevation-z2">
  <h2>
    Meal Plan
  </h2>
</mat-toolbar>

<div class="content">
  <mat-accordion *ngIf="schedule.length > 0" multi="true" displayMode="flat">
    <mat-expansion-panel *ngFor="let day of schedule">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ day.date.toLocaleDateString('en-EN', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <mat-list-item *ngFor="let meal of day.meals"
          [routerLink]="['/recipes/id',meal.id]">
          {{ meal.name }}
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-list *ngIf="schedule.length == 0">
    <mat-list-item>
      Nothing planned.
    </mat-list-item>
  </mat-list>
</div>