<mat-nav-list class="drawer">
  <mat-list-item 
    [routerLink]="['/']">
    <i class="material-icons">home</i>
    &nbsp;&nbsp;Home
  </mat-list-item>
  <mat-list-item 
    [routerLink]="['/recipes']">
    <i class="material-icons">menu_book</i>
    &nbsp;&nbsp;Recipes
  </mat-list-item>
  <mat-list-item 
    [routerLink]="['/meal-plan']">
    <i class="material-icons">calendar_today</i>
    &nbsp;&nbsp;Meal Plan
  </mat-list-item>
  <mat-list-item 
    [routerLink]="['/groceries']">
    <i class="material-icons">shopping_cart</i>
    &nbsp;&nbsp;Groceries
  </mat-list-item>
</mat-nav-list>