/* You can add global styles to this file, and also import other style files */
/* Add application styles & imports to this file! */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  --color-main: #b53838;
}

#top-bar {
  z-index: 10;
  position: absolute;
}

.container {
  width: 100vw;
  height: 100vh;
}

.page {
  padding-top: 56px;
}

.content {
  padding-top: 10px;
  z-index: 9;
  margin: 0 15px;
}

button {
  text-transform: uppercase
}
.num-input {
  width: 75px;
}
.unit-input {
  width: 50px;
}
.quantity-form {
  display: inline-block;
}

.error-text {
  color: red;
}

.drawer {
  min-width: 300px;
}